<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag 'https://cataas.com/cat' %>
  </p>

  <p>
    <strong>Favorited:</strong>
    <%= cat.favorited %>
  </p>

  <p>
    <strong>Is adopted:</strong>
    <%= cat.is_adopted %>
  </p>

  <p>
   <strong>Tags:</strong>
  <%= cat.cat_tags %>

</div>
