<div id="<%= dom_id cat %>" class="info">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag 'https://cataas.com/cat' %>
  </p>

    <strong>Favorited:</strong>
    <%= cat.favorited? ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Is adopted:</strong>
    <%= cat.is_adopted? ? 'Yes' : 'No' %>
  </p>

  <p>
   <strong>Tags:</strong>
  <%= cat.cat_tags %>

</div>
